* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  height: 200vh;
}

.item {
  background: transparent;

  display: block;
  position: relative;
  width: 200px;
  aspect-ratio: 1;
}

.dot {

  aspect-ratio: 1;
  background: #333;
  border-radius: 50%;
}

.dot.scroll {
  transform: scale(var(--ratio, 1)) translateY(var(--pos, 1));
}